@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px !important; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.89); /* Light gray */
  border-radius: 4px; /* Rounded edges */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.89); /* Even lighter gray for the track */
  border-radius: 4px;
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #d3d3d3 #f5f5f5; /* Thumb and track colors */
}
